* {
  margin: 0;
  padding: 0;
  box-size: border-box;
  /* this removes any browser styling */
}

html {
  font-size: 16px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  padding: 1rem;
}

h3 {
  font-size: 1.5rem;
  padding: 1rem;
}

h4 {
  font-size: 1rem;
  padding: 1rem;
}

p {
  font-size: 1rem;
  padding: 1rem;
}

a:link {
}

.header {
  color: #2f2e2e;
  font-size: 38px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  padding: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  background: #f9db79;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  background: #2f2e2e;
  padding: 10px;
}

.nav li a {
  text-decoration: none;
  color: #f9db79;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 10px;
}

.nav li a:hover {
  border-bottom: 2px solid #f9db79;
  border-top: 2px solid #f9db79;
}

/*.nav li a:active {
  background-color:white;
} */

/*.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
} */


.flex-wrap {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.flex-wrap > * {
  flex: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 600px;
  height: 100%;
  padding: 0px;
  background: ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
}

.container-blog {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  margin: 25px;
  margin-left: 100px;
  margin-right: 100px;
  /* width: 600px;
  height: 100%;
  outline: dashed 1px black;
  /* Center child horizontally*/
  display: flex;
  justify-content: center;
}

.child-blog {
  width: 100%;
  height: 100%;
  background-color: ;
  text-align: center;
}

.img-blog {
  padding; 20px;
  
}

/* .container-sprint {
  width: 0px;
  height: 0px;
  background-color: red;
  text-align: center;
}

.container-sprint img {
  width: 100px;
}

.sprint-text {
  padding: ;
} */

.img-block {
  height: 100%;
}

.text-block {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
}

.tech-blog-container-1 {
  height: 100%;
  place-content: center;
}

.tech-blog-image-box-1 {
  height: 200px;
  width: 350px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;

  display: flex;
  place-content: center;
  /* this is the position of the box on the page */
  position: fixed;
  top: 310px;
  left: 200px;

}


#markup-box {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d1cfcf;
  font-size: 16px;
}

.text-list {
  text-align: left;
  font-size: 16px;
  justify-content: center;
}

#markup-box-2 {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2D2E30;
  font-size: 16px;
  color: white;
}

.blog-image {
  position: relative;
  text-align: center;
  height: auto;
}

.blog-image a:visited {
  color: white;
}

.blog-image a:link {
  text-decoration: none;
}

#blog-image-text {
  position: absolute;
  width: 280px;
  padding: 10px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: #2D2E30;
  top: 45%;
  text-decoration: none;
}





.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0px, 0, 0, 0;
  background-color: #2f2e2e;
  height: 40px;
}
.footer p {
  line-height: 1;
  color: white;
}
