* {
  margin: 0;
  padding: 0;
  box-size: border-box;
  /* this removes any browser styling */
}

html {
  font-size: 16px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  padding: 1rem;
}

h3 {
  font-size: 1.5rem;
  padding: 1rem;
}

h4 {
  font-size: 1rem;
  padding: 1rem;
}

p {
  font-size: 1rem;
  padding: 1rem;
}

.header {
  color: #2f2e2e;
  font-size: 38px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  padding: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  background: #f9db79;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 60px;
  list-style-type: none;
  background: #2f2e2e;
  padding: 10px;
}

.nav li a {
  text-decoration: none;
  color: #f9db79;
  font-size: 2.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:hover {
  background-color: #777;
}

a:selected {
  border-bottom: 2px solid white;
}

.flex-wrap {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.flex-wrap > * {
  flex: ;
  box-sizing: border-box;
  width: 600px;
  height: 100%;
  padding: 0px;
  background: ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
}

.container-blog {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  margin: 25px;
  margin-left: 100px;
  margin-right: 100px;
  /* width: 600px;
  height: 100%;
  outline: dashed 1px black;
  /* Center child horizontally*/
  display: flex;
  justify-content: center;
}

.child-blog {
  width: 100%;
  height: 100%;
  background-color: ;
  text-align: center;
}

.img-blog {
  padding; 20px;
  
}

/* .container-sprint {
  width: 0px;
  height: 0px;
  background-color: red;
  text-align: center;
}

.container-sprint img {
  width: 100px;
}

.sprint-text {
  padding: ;
} */

.img-block {
  height: 100%;
}

.text-block {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
}

.container-1 {
  height: 500px;
  place-content: center;
}

.image-box-1 {
  height: 200px;
  width: 350px;
  padding: 20px;
  background-color: ;
  border: 1px solid black;

  display: flex;
  place-content: center;

  position: sticky;
   top: 30px;
   left: 200px;

}

.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0px, 0, 0, 0;
  background-color: #2f2e2e;
  height: 40px;
}
.footer p {
  line-height: 1;
  color: white;
}
